# 1. 依赖文件 (Dependencies)
node_modules/
.pnp
.pnp.js

# 2. 构建与生产环境输出 (Production)
dist/
build/
dist-ssr/
*.local

# 3. 日志文件 (Logs)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 4. 环境变量 (Environment Variables)
.env*
!.env.example

# 5. 测试与覆盖率报告 (Testing)
coverage/

# 6. 操作系统生成文件 (OS)
.DS_Store
Thumbs.db

# 7. 编辑器与 IDE 配置 (Editor directories and files)
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 8. 缓存文件 (Caches)
.eslintcache